<!DOCTYPE html>
<html lang="en">
<head>
	<include file="./Application/Admin/View/Layouts/resouce.html" title="编辑首页内容"/>
	<style type="text/css">
		body {
			margin: 0;
		}
		#clipArea {
			margin: 20px;
			height: 700px;
		}
		#file,#clipBtn {
			margin: 20px;
		}
		#view {
			margin: 0 auto;
			width: 633px;
			height: 422px;
		}
	</style>
</head>
<body>
	<div class="container-fluid">
		<include file="./Application/Admin/View/Layouts/header.html"/>
		<div class="row">
			<include file="./Application/Admin/View/Layouts/left_nav.html"/>
			<div class="col-xs-10 col-sm-10 col-md-9 col-lg-9">
				<div class="panel panel-default">
		   			<div class="panel-body">
						<div class="row">
							<ol class="breadcrumb">
							    <li><a href="__ROOT__/Admin/Index/index">首页</a></li>
							    <li><a href="__ROOT__/Admin/Recommend/index">首页管理</a></li>
							    <li>编辑首页内容</li>
							</ol>
						</div>
						<div class="row">
							<form class="form-horizontal" name="recommend_form" role="form" method="post" action="__URL__/update/id/{$data.id}"> 
							<div class="form-group">
								<label for="name" class="col-sm-2 control-label">名称</label>
								<div class="col-sm-10">
								<input type="text" class="form-control" id="name" name="name" placeholder="请输入名称" value="{$data.name}">
								</div>
							</div>
							<div class="form-group">
								<label for="discription" class="col-sm-2 control-label">描述</label>
								<div class="col-sm-10">
								<input type="text" class="form-control" id="discription" name="discription" placeholder="请输入描述" value="{$data.discription}">
								</div>
							</div>
							<div class="form-group">
								<label for="url" class="col-sm-2 control-label">链接</label>
								<div class="col-sm-10">
								<input type="text" class="form-control" id="url" name="url" placeholder="请输入链接" value="{$data.url}">
								</div>
							</div>
							<div class="form-group">
								<label for="category_id" class="col-sm-2 control-label">内容类型</label>
								<div class=" col-sm-2">
									<select class="form-control" name="category_id" id="category_id">
									<option value="">请选择内容类型</option>
									<foreach name="data" item="vo">
									    <option value="{$vo.id}">{$vo.name}</option>
									</foreach>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="sort" class="col-sm-2 control-label">排序</label>
								<div class="col-sm-10">
								<input type="number" class="form-control" id="sort" name="sort" placeholder="请输入排序" value="{$data.sort}">
								</div>
							</div>
							<div class="form-group">
								<label for="status" class="col-sm-2 control-label">是否显示</label>
								<div class="col-sm-2">
									<label>
										<input type="radio" name="status" id="status1" value="1" checked> 显示
									</label>
									<label>
										<input type="radio" name="status" id="status2" value="0">不显示
									</label>
								</div>
							</div>
							<div class="form-group">
								<label for="cover" class="col-sm-2 control-label" >图片</label>
								<div class="col-sm-10">
									<div class="row">
										<div id="clipArea"></div>
										<input id="imgurl" type="text" name="cover" style="display:none" value="{$data.cover}">
										<input type="file" id="file">
										<button class="btn btn-primary" type="button" id="clipBtn">截图</button>
										<div id="view" style="background:url({$data.cover})"></div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success">保存</button>
								</div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<include file="./Application/Admin/View/Public/footer.html"/>
	</div>
</body>
</html>
<script type="text/javascript">
	InitRadio($("input[name='status']"),"{$data.status}");
	InitNav($('#left_nav li'),"{$category}");
	InitCategory($('#category')[0].options,"{$data.category}");
	$("#recommend_form").validate({
    	rules:{
    		discription:{
    			required:true,
    			maxlength:255
    		},
    		name:{
    			required:true,
    			maxlength:255
    		},
    		status:"required",
    	},
    	messages:{
    		discription:{
    			required:"请填写图片描述",
    			maxlength:255
    		},
    		name:{
    			required:"请填写名称",
    			maxlength:255
    		},
    		status:"请设置是否显示",
    	},
    });
</script>
<script src='http://libs.baidu.com/jquery/2.1.1/jquery.min.js'></script>
<script src="/en/Public/jQuery-photoClip/js/iscroll-zoom.js"></script>
<script src="/en/Public/jQuery-photoClip/js/hammer.js"></script>
<script src="/en/Public/jQuery-photoClip/js/lrz.all.bundle.js"></script>
<script src="/en/Public/jQuery-photoClip/js/jquery.photoClip.js"></script>
<script>
//document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
var clipArea = new bjj.PhotoClip("#clipArea", {
	size: [633, 422],
	outputSize: [633, 422],
	file: "#file",
	view: "#view",
	ok: "#clipBtn",
	loadStart: function() {
		//console.log("照片读取中");
	},
	loadComplete: function() {
		//console.log("照片读取完成");
	},
	clipFinish: function(dataURL) {
		$('#imgurl').attr('value', dataURL);
	}
});
//clipArea.destroy();
</script>