<div class="row" style="margin-top:100px;">
	<div style="background:#3C3C3C;min-height:180px;width:100%;text-align:left;padding-top:15px;">
		<img src="/en/Public/Home/Images/二维码.png" style="width:150px;min-height:150px;margin-left:15%;border:2px solid #eee;float:left;">
		<div style="width:50%;height:150px;display:inline-block;color:#fff;font-size:1.2em;line-height:15px;float:left;">
			<p>Telephone：</p><p>E-mail：</p>
			<p>Address：</p>
			<p>Copyright ©2017-<?php echo date('Y');?> http://zyhjxy.scau.edu.cn/Government All Rights Reserved</p>
			<p>Powered By：</p>
		</div>
	</div>
</div>
