<div class="row" style="margin-top:100px;">
	<div style="background:#3C3C3C;min-height:150px;width:100%;text-align:left;">
		<img src="/Public/Home/Images/二维码.png" style="display:inline-block;width:6.5%;height:auto;margin-left:15%;border:2px solid #eee;margin-top:-105px;">
		<div style="width:50%;height:auto;display:inline-block;color:#fff;font-size:1.2em;line-height:15px;margin-top:20px;">
			<p>Phone:</p><p>E-mail:</p>
			<p>address:</p>
			<p>Copyright ©2017-<?php echo date('Y');?> http://zyhjxy.scau.edu.cn/Government All Rights Reserved</p>
			<p>Powered By:</p>
		</div>
	</div>
</div>