<!DOCTYPE html>
<html lang="en">
<head>
	<include file="./Application/Home/View/Layouts/resource.html" title="HOME"/>
	<link href="__ROOT__/Public/jqueryflexslider/css/jqueryflexslider.css" rel="stylesheet">
	<style type="text/css">
	    *{font-family:'微软雅黑'}
		a{text-decoration:none;}
		.flexslider{position:relative;width:100%;height:650px;overflow:hidden;background:url(./Public/jqueryflexslider/images/loading.gif) 50% no-repeat;z-index:1;}
		.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(./Public/jqueryflexslider/images/dot.png) right 0 no-repeat;cursor:pointer;}
		.flex-direction-nav li a.flex-prev{left:40px;background:url(./Public/jqueryflexslider/images/prev.png) center center no-repeat;}
		.flex-direction-nav li a.flex-next{right:40px;background:url(./Public/jqueryflexslider/images/next.png) center center no-repeat;}
		/* 定位地图的样式 */
		#container {width:100%; height: 500px; }  
		/* 学院新闻 */
		#academy-news p{
			width:100%;
			height:auto;  
		    overflow: hidden;
		    text-overflow:ellipsis;
			white-space: nowrap;
			font-size:1em; 
			font-family:'微软雅黑';
			margin:0 auto; 
		}
	</style>
</head>
<body>
	<div class="container-fluid">
		<!-- header -->
		<include file="./Application/Home/View/Layouts/header.html"/>
		<!-- 轮播图 -->
		<div class="row">
			<div class="flexslider" id="flexslider">
				<ul class="slides">
					<?php rendSlider($photoData);?>
					<li style="background:url(__ROOT__/Public/Upload/Image/20170916/1505546418358489.jpg) 50% 0 no-repeat;">
						<div class="sliderMask" style="">
							<p style="color: #fff;font-size:2em;display:block;text-align:center;margin-top:3.5%;">我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试</p>
							<a class="btn" href="" style="display:inline-block;border:4px solid #0A6C9D;color:#fff;margin:0 75%;">Read More</a>
						</div>
					</li>
					<li style="background:url(__ROOT__/Public/Upload/Image/20170916/1505546509244018.jpg) 50% 0 no-repeat;">
						<div class="sliderMask" style="width:100%;height:300px;background:#3E3A3A;filter:alpha(opacity=60);-moz-opacity:0.6;opacity: 0.6;position:absolute;bottom:-300px;">
							<p style="color: #fff;font-size:2em;display:block;text-align:center;margin-top:3.5%;">我bushiijepwjpofjigteijwpeokofw weufiow</p>
							<a class="btn" href="" style="display:inline-block;border:4px solid #0A6C9D;color:#fff;margin:0 75%;">Read More</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<?php 
			function rendSlider($data)
			{
				foreach($data as $key=>$value){
					echo "<li style='background:url(".$value['url'].") 50% 0 no-repeat;'>";
					echo "<div class='sliderMask'>";
					echo "<p>".$value['discription']."</p>";
					echo "</div>";
				}
				
			}
		?>

		<!-- 关于我们 -->
		<!-- 
		<div class="row" style="margin-top:100px;">
			<div style="width:100%;min-height:600px;margin:0 auto;">
				<div class="row" style="position:relative;">
					<h1 style="text-align:center;color:#12B266;font-size:4em;">About Us</h1>
					<img src="/Public/Home/Images/右引号.png" style="width:150px;height:auto;float:right;">
				</div>

				<div class="row" style="">
					<div class="col-md-1"></div>
					<div class="col-md-4 col-sm-4">
						<img src="/Public/Home/Images/资源环境学院院楼3.jpg" alt="资源环境学院院楼" style="width:100%;height:auto;">
					</div>
					<div class="col-md-6 col-sm-6" style="font-size:1.2em;">
						<p style="width:100%;margin:0 auto;color:#666464;">
							Welcome to South China Agricultural University!

							For a hundred years, South China Agricultural University has developed into a multi-disciplinary, comprehensive university comprised of the disciplines of agriculture, engineering, liberal arts, basic sciences, economics, management, law, education, history and philosophy. It has always been contributing itself to the development of agriculture and society.

							SCAU has set two central tasks: teaching and research. As an advanced multi-disciplinary agricultural institute with distinctive tropical and subtropical characteristics, SCAU intends to provide its students with an all-round education that contributes to their future professional success. At SCAU, graduate programs and post-graduate programs are developing concurrently. It has a faculty that is capable of top-level and large-scale research. SCAU has been conducting agricultural research on basic theory as well as applied projects. It will bravely face the future challenges.
						</p>
					</div>
					<div class="col-md-1">
					</div>
				</div>
				
				<div class="row" style="position:relative;">
					<img src="/Public/Home/Images/左引号.png" style="width:150px;height:auto;">
					<a href="" class="btn btn-default" style="margin-left:70%;border:4px solid #0A6C9D;color:#0A6C9D;margin:0 75%;">Read Details</a>
				</div>
			</div>
		</div> -->

		<!-- 学院新闻 -->
		<div class="row" style="margin-top:100px;">
			<div style="width:100%;min-height:700px;">
				<div class="row">
					<h1 style="color:#0E9CEA;text-align:center;font-size:3.5em;">Student Activities</h1>
				</div>
				<div class="row" style="width:80%;margin:0 auto;" id="academy-news">
				    <div class="col-sm-6 col-md-3">
				        <div class="thumbnail">
				            <img src="__ROOT__/Public/Home/Images/bg.jpg"
				                 alt="通用的占位符缩略图">
				            <div class="caption">
				                <h2>test1</h2>
				                <span>date:2017-9-18</span>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus provident quae maxime consequuntur atque.</p>
				                <a href="#" class="btn btn-primary " role="button">
			                        Read Details
			                    </a>
				            </div>
				        </div>
				    </div>
				    <div class="col-sm-6 col-md-3">
				        <div class="thumbnail">
				            <img src="__ROOT__/Public/Home/Images/bg.jpg"
				                 alt="通用的占位符缩略图">
				            <div class="caption">
				                <h2>test1</h2>
				                <span>date:2017-9-18</span>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus provident quae maxime consequuntur atque.</p>
				                <a href="#" class="btn btn-primary " role="button">
			                        Read Details
			                    </a>
				            </div>
				        </div>
				    </div>
				    <div class="col-sm-6 col-md-3">
				        <div class="thumbnail">
				            <img src="__ROOT__/Public/Home/Images/bg.jpg"
				                 alt="通用的占位符缩略图">
				            <div class="caption">
				                <h2>test1</h2>
				                <span>date:2017-9-18</span>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus provident quae maxime consequuntur atque.</p>
				                <a href="#" class="btn btn-primary " role="button">
			                        Read Details
			                    </a>
				            </div>
				        </div>
				    </div>
				    <div class="col-sm-6 col-md-3">
				        <div class="thumbnail">
				            <img src="__ROOT__/Public/Home/Images/bg.jpg"
				                 alt="通用的占位符缩略图">
				            <div class="caption">
				                <h2>test1</h2>
				                <span>date:2017-9-18</span>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus provident quae maxime consequuntur atque.</p>
				                <a href="#" class="btn btn-primary " role="button">
			                        Read Details
			                    </a>
				            </div>
				        </div>
				    </div>
				    <div class="col-sm-6 col-md-3">
				        <div class="thumbnail">
				            <img src="__ROOT__/Public/Home/Images/bg.jpg"
				                 alt="通用的占位符缩略图">
				            <div class="caption">
				                <h2>test1</h2>
				                <span>date:2017-9-18</span>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus provident quae maxime consequuntur atque.</p>
				                <a href="#" class="btn btn-primary " role="button">
			                        Read Details
			                    </a>
				            </div>
				        </div>
				    </div>
				    <div class="col-sm-6 col-md-3">
				        <div class="thumbnail">
				            <img src="__ROOT__/Public/Home/Images/bg.jpg"
				                 alt="通用的占位符缩略图">
				            <div class="caption">
				                <h2>test1</h2>
				                <span>date:2017-9-18</span>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus provident quae maxime consequuntur atque.</p>
				                <a href="#" class="btn btn-primary " role="button">
			                        Read Details
			                    </a>
				            </div>
				        </div>
				    </div>
				    <div class="col-sm-6 col-md-3">
				        <div class="thumbnail">
				            <img src="__ROOT__/Public/Home/Images/bg.jpg"
				                 alt="通用的占位符缩略图">
				            <div class="caption">
				                <h2>test1</h2>
				                <span>date:2017-9-18</span>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus provident quae maxime consequuntur atque.</p>
				                <a href="#" class="btn btn-primary " role="button">
			                        Read Details
			                    </a>
				            </div>
				        </div>
				    </div>
				    <div class="col-sm-6 col-md-3">
				        <div class="thumbnail">
				            <img src="__ROOT__/Public/Home/Images/bg.jpg"
				                 alt="通用的占位符缩略图">
				            <div class="caption">
				                <h2>test1</h2>
				                <span>date:2017-9-18</span>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus provident quae maxime consequuntur atque.</p>
				                <a href="#" class="btn btn-primary " role="button">
			                        Read Details
			                    </a>
				            </div>
				        </div>
				    </div>
				</div>
				<div class="row">
					<a href="" class="btn btn-default" style="margin-top:40px;margin-left:83%;border: 3px solid #0A6C9D;color:#0A6C9D;">Read More</a>
				</div>
			</div>
		</div>

		<!-- 友情链接 -->
		<div class="row" style="margin-top:100px;">
			<h1 style="text-align:center;font-size:4em;color:#12B266;">Recommend</h1>
			<div class="row" style="width:100%;min-height:250px;margin:0 auto;position:relative;overflow:hidden;">
				<div id="friendlink1" class="friendlink" style="width:33.3%;float:left;border-top:10px solid #12B266">
					<span style="width:33.3%;height:0px;color:#fff;background:#12B266;position:absolute;text-align:center;font-size:3em;filter:alpha(opacity=0);-moz-opacity:0;opacity: 0;">
						<a href="" class="btn" style="color:#fff;margin-top:25%;display:inline-block;">
						<h1 style="display:inline-block;" >SCAU</h1>
						<i class="fa fa-chevron-circle-right fa-3x"></i>
						</a>
					</span>
					<img src="__ROOT__/Public/Home/Images/华农正校门.jpg" style="width:100%;height:auto;display:block;float:left;">
				</div>
				<div id="friendlink2" class="friendlink" style="width:33.3%;float:left;border-top:10px solid #12B266">
					<span style="width:33.3%;height:0px;color:#fff;background:#12B266;position:absolute;text-align:center;font-size:3em;filter:alpha(opacity=0);-moz-opacity:0;opacity: 0;">
						<a href="" class="btn" style="color:#fff;margin-top:25%;display:inline-block;">
						<h1 style="display:inline-block;" >Rearch</h1>
						<i class="fa fa-chevron-circle-right fa-3x"></i>
						</a>
					</span>
					<img src="__ROOT__/Public/Home/Images/资源环境学院院楼3.jpg" style="width:100%;height:auto;display:block;float:left;">
				</div>
				<div id="friendlink3" class="friendlink" style="width:33.3%;float:left;border-top:10px solid #12B266">
					<span style="width:33.3%;height:0px;color:#fff;background:#12B266;position:absolute;text-align:center;font-size:3em;filter:alpha(opacity=0);-moz-opacity:0;opacity: 0;">
						<a href="" class="btn" style="color:#fff;margin-top:25%;display:inline-block;">
						<h1 style="display:inline-block;" >JIERE</h1>
						<i class="fa fa-chevron-circle-right fa-3x"></i>
						</a>
					</span>
					<img src="__ROOT__/Public/Home/Images/中英环境科学研究中心.jpg" style="width:100%;height:auto;display:block;float:left;">
				</div>
			</div>
		</div>

		<!--地图定位 -->
		<div class="row" style="margin-top:100px;">
			<div id="">
				<div id="container"></div>  
			</div>
		</div>

		<!-- footer -->
		<include file="./Application/Home/View/Layouts/footer.html"/>
	</div>
</body>
</html>
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.0&key=8a9d44b97d5c60d46a626b76e77aa35b"></script> 
<script type="text/javascript" src="/Public/jqueryflexslider/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//初始化轮播图
		$('.flexslider').flexslider({
			directionNav: true,
			pauseOnAction: false,
			slideshowSpeed: 30000
		});
		//轮播图拓展
		//Mask的运动
		$('#flexslider li').mouseenter(function(event) {
			$('.sliderMask').stop();
			$('.sliderMask').animate({
				bottom:'0px',
			},550,"swing");
		});
		$('#flexslider li').mouseleave(function(event) {
			$('.sliderMask').stop();
			$('.sliderMask').animate({
				bottom:'-300px',
			},550,"swing");
		});
		//学院新闻
		// $('#academy-news div').mouseenter(function(event) {
			
		// });
		//友情链接遮罩
		$('.friendlink').mouseenter(function(event) {
			var objId = '#'+this.id;
			$(objId+' span').finish();
			$(objId+' span').animate({
				opacity:'1',
				height: $(objId+' img').css('height'),
			},550,'swing');
		});
		$('.friendlink').mouseleave(function(event) {
			var objId = '#'+this.id;
			$(objId+' span').finish();
			$(objId+' span').animate({
				opacity:'0',
				height: '0px',
			},550,'swing');
		});
	});
	//高德地图
	var map = new AMap.Map('container',{
	    zoom: 18,
	    center: [113.351871,23.152996],
	    lang:'zh_en'
	});
	//设置点标记
	var marker = new AMap.Marker({
	    position: [113.351871,23.152996],//marker所在的位置
	    map:map//创建时直接赋予map属性
	});
	//也可以在创建完成后通过setMap方法执行地图对象
	marker.setMap(map);
</script>
