<!DOCTYPE html>
<html lang="en">
<head>
	<include file="./Application/Admin/View/Layouts/resouce.html" title="HOME"/>
	<link href="/Public/jqueryflexslider/css/jqueryflexslider.css" rel="stylesheet">
	<style type="text/css">
		.flexslider{position:relative;width:100%;height:650px;overflow:hidden;background:url(/Public/jqueryflexslider/images/loading.gif) 50% no-repeat;}
		.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(/Public/jqueryflexslider/images/dot.png) right 0 no-repeat;cursor:pointer;}
		.flex-direction-nav li a.flex-prev{left:40px;background:url(/Public/jqueryflexslider/images/prev.png) center center no-repeat;}
		.flex-direction-nav li a.flex-next{right:40px;background:url(/Public/jqueryflexslider/images/next.png) center center no-repeat;}
	</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
				<!--banner-->
				<div class="row">
					<div style="background:#12B266;width:100%;height:150px;"></div>
				</div>
				<!-- 导航栏 -->
				<div class="row">
					<div class="container-fluid"> 
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse"
									data-target="#example-navbar-collapse">
								<span class="sr-only">切换导航</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#">HOME</a>
						</div>
						<div class="collapse navbar-collapse" id="example-navbar-collapse">
							<ul class="nav navbar-nav">
								<li class="active"><a href="#">About us</a></li>
								<li><a href="#">Tearching</a></li>
								<li><a href="#">Research</a></li>
								<li><a href="#">Partnerships</a></li>
								<li><a href="#">Student Activities</a></li>
								<!-- 下拉菜单 -->
								<!-- <li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										Java <b class="caret"></b>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">jmeter</a></li>
										<li><a href="#">EJB</a></li>
										<li><a href="#">Jasper Report</a></li>
										<li class="divider"></li>
										<li><a href="#">分离的链接</a></li>
										<li class="divider"></li>
										<li><a href="#">另一个分离的链接</a></li>
									</ul>
								</li> -->
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	

		<div class="row" style="margin-top:210px;">
			<div class="flexslider" id="flexslider">
				<ul class="slides">
					<li style="background:url(/Public/Upload/Image/20170916/1505546418358489.jpg) 50% 0 no-repeat;">
						<div id="sliderMask" style="width:100%;height:300px;background:#3E3A3A;filter:alpha(opacity=60);-moz-opacity:0.6;opacity: 0.6;position:absolute;bottom:0px;padding:100px;">
							<p style="color: #fff;font-size:3em;display:block;text-align:center;">我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试</p>
							<a class="btn" href="" style="display:inline-block;border:4px solid #0A6C9D;color:#fff;margin:0 75%;">Read More</a>
						</div>
					</li>
					<li style="background:url(/Public/Upload/Image/20170916/1505546509244018.jpg) 50% 0 no-repeat;"></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="/Public/jqueryflexslider/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//初始化轮播图
		$('.flexslider').flexslider({
			directionNav: true,
			pauseOnAction: false,
			slideshowSpeed: 30000
		});
		//轮播图拓展
		//Mask的运动
		$('#flexslider li').mouseenter(function(event) {
			$('#sliderMask').css('bottom', '0px');
		});
		$('#flexslider li').mouseleave(function(event) {
			$('#sliderMask').css('bottom', '-300px');
		});
	});
</script>