<!DOCTYPE html>
<html lang="en">
<head>
	<include file="./Application/Home/View/Layouts/resource.html" title="HOME"/>
	<link href="/en/Public/jqueryflexslider/css/jqueryflexslider.css" rel="stylesheet">
	<style type="text/css">
	    *{font-family:'微软雅黑'}
		a{text-decoration:none;}
		.flexslider{position:relative;width:100%;height:650px;overflow:hidden;background:url(/en/Public/jqueryflexslider/images/loading.gif) 50% no-repeat;z-index:1;}
		.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(/en/Public/jqueryflexslider/images/dot.png) right 0 no-repeat;cursor:pointer;}
		.flex-direction-nav li a.flex-prev{left:40px;background:url(/en/Public/jqueryflexslider/images/prev.png) center center no-repeat;}
		.flex-direction-nav li a.flex-next{right:40px;background:url(/en/Public/jqueryflexslider/images/next.png) center center no-repeat;}
		/* 定位地图的样式 */
		#container {width:100%; height: 500px; }  
		/* 学院新闻 */
		#academy-news p{
			width:100%;
			height:auto;  
		    overflow: hidden;
		    text-overflow:ellipsis;
			white-space: nowrap;
			font-size:1em; 
			font-family:'微软雅黑';
			margin:0 auto; 
		}
		/* 名师推荐 */
		#famousmiddle .famouscontent{
			position: absolute;
			display: none;
		}
		/* 手机端的兼容 */
		@media (max-width: 990px){
		    
		}
	</style>
</head>
<body>
	<div class="container-fluid">
		<!-- header -->
		<include file="./Application/Home/View/Layouts/header.html"/>
		<!-- 轮播图 -->
		<div class="row">
			<div class="flexslider" id="flexslider">
				<ul class="slides">
					<?php 
						foreach($sliderData as $key=>$value){
							echo "<li style='background:url(".$value['url'].") 50% 0 no-repeat;'>";
							echo "<div class='sliderMask'>";
							echo "<p>".$value['discription']."</p>";
							echo "</div>";
						}
					?>
					<!-- <li style="background:url(/en/Public/Upload/Image/20170916/1505546418358489.jpg) 50% 0 no-repeat;">
						<div class="sliderMask" style="">
							<p style="color: #fff;font-size:2em;display:block;text-align:center;margin-top:3.5%;">我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试我是测试</p>
							<a class="btn" href="" style="display:inline-block;border:4px solid #0A6C9D;color:#fff;margin:0 75%;">Read More</a>
						</div>
					</li> -->
				</ul>
			</div>
		</div>

		<!-- 学院新闻 -->
		<div class="row" style="margin-top:100px;width:100%;">
			<div style="min-height:700px;">
				<h1 id="news-h1" style="color:#0E9CEA;font-size:3.5em;text-align:center;">News & Events</h1>
				<div class="row" style="width:80%;margin:0 auto;" id="academy-news">
					<?php 
						foreach($newsData[data] as $key => $value){
							echo "<div class='col-sm-6 col-md-4'>";
							echo "<div class='thumbnail'>";
							echo "<img src='".$value['cover']."'
					                 alt='文章的封面'>";
					        echo "<div class='caption'>";
					        echo "<h2>".$value['name']."</h2>";
					        echo "<span>date:".$value['update_at']."</span>";
					        echo "<p>".$value['discription']."</p>";
					        echo "<a href='".$value['url']."' class='btn btn-primary' role='button'>Read More</a>";
					        echo "</div></div></div>";
						}
					?>
				    <!-- <div class="col-sm-6 col-md-4">
				        <div class="thumbnail">
				            <img src="/en/Public/Home/Images/bg.jpg"
				                 alt="通用的占位符缩略图">
				            <div class="caption">
				                <h2>test1</h2>
				                <span>date:2017-9-18</span>
				                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus provident quae maxime consequuntur atque.</p>
				                <a href="#" class="btn btn-primary " role="button">
			                        Read Details
			                    </a>
				            </div>
				        </div>
				    </div> -->
				</div>
				<!-- <div class="row">
					<a href="__URL__/sList/id/{$newsData.category_id}" class="btn btn-default" style="margin-top:40px;margin-left:83%;border: 3px solid #0A6C9D;color:#0A6C9D;">Read More</a>
				</div> -->
			</div>
		</div>

		<!-- 名师展示 -->
		<div class="row" style="margin-top:100px;min-height:550px;">
			<div class="row" style="width:80%;margin:0 auto;">
				<div id="famousleft" class="col-sm-1" style="height:550px;text-align:center;" data-anchor="3">
					<i class="fa fa-chevron-left fa-5x" style="line-height:500px;"></i>
				</div>
				<div id="famousmiddle" class="col-sm-10" style="background:;height:550px;position:relative;" data-len="<?php echo count($famousData); ?>" data-anchor='1'>
					<div class="" style="width:100%;height:550px;color:#555353">
						<?php 
							foreach($famousData as $key => $value){
								echo "<div style='width: 100%;' class='famouscontent row' id='f-".++$key."' data-anchor='".$key."'>";
								echo "<div style='width:300px;height:300px;margin:0 auto;border-radius:50%;overflow:hidden;'>";
								echo "<img src='".$value['cover']."' style='width:100%;height:100%;'>";
								echo "</div>";
								echo "<div>";
								echo "<h2 style='text-align:center;'>".$value['title']."</h2>";
								echo "</div><div style='width:100%;font-size:1.5em;margin-top:36px;'>";
								echo "<h4 style='width:60%;display:block;margin:0 auto;text-align: center;'>".html_entity_decode($value['content'])."</h4>";
								echo "</div></div>";
							}
						?>
						<div class="famouscontent" id="f-3" data-anchor="3">
							<div style="width:300px;height:300px;margin:0 auto;border-radius:50%;overflow:hidden;">
								<img src="/en/Public/Home/Images/bg.jpg" style="width:100%;height:100%;">
							</div>
							<div>
								<h2 style="text-align:center;">Professor Tiansheng HONG3</h2>
							</div>
							<div style="font-size:1.5em;margin-top:36px;">
								<p style="width:60%;display:block;margin:0 auto">
									National University Outstanding Teacher,National Advanced Individual of Teacher's Virtue,National Top Ten Agricultural Machinery Teacher
								</p>
							</div>
						</div>
					</div>
				</div>
				<div id="famousright" class="col-sm-1" style="height:550px;text-align:center;" data-anchor="2">
					<i class="fa fa-chevron-right fa-5x" style="line-height:500px;"></i>
				</div>
			</div>
		</div>

		<!-- 友情链接 -->
		<div class="row" style="margin-top:100px;">
			<h1 style="font-size:4em;color:#12B266;text-align:center;">Recommend</h1>
			<div class="row" style="width:100%;min-height:250px;margin:0 auto;position:relative;overflow:hidden;">
				<?php 
					foreach($recommendData as $key => $value){
						echo "<div id='friendlink".$key."' class='friendlink' style='width:33.3%;float:left;border-top:10px solid #12B266'>";
						echo "<span style='width:33.3%;height:0px;color:#fff;background:#12B266;position:absolute;text-align:center;font-size:3em;filter:alpha(opacity=0);-moz-opacity:0;opacity: 0;'>";
						echo "<a href='".$value['url']."' class='btn' style='color:#fff;margin-top:25%;display:inline-block;'>";
						echo "<h1 style='display:inline-block;' >".$value['name']."</h1>";
						echo "<i class='fa fa-chevron-circle-right fa-3x'></i>";
						echo "</a></span>";
						echo "<img src='".$value['cover']."' style='width:100%;height:auto;display:block;float:left;'>";
						echo "</div>";
					}
				?>
			</div>
		</div>

		<!--地图定位 -->
		<div class="row" style="margin-top:100px;">
			<div id="">
				<div id="container"></div>  
			</div>
		</div>

		<!-- footer -->
		<include file="./Application/Home/View/Layouts/footer.html"/>
	</div>
</body>
</html>
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.0&key=8a9d44b97d5c60d46a626b76e77aa35b"></script> 
<script type="text/javascript" src="/en/Public/jqueryflexslider/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//初始化轮播图
		$('.flexslider').flexslider({
			directionNav: true,
			pauseOnAction: false,
			slideshowSpeed: 3000
		});
		//轮播图拓展
		//Mask的运动
		$('#flexslider li').mouseenter(function(event) {
			$('.sliderMask').stop();
			$('.sliderMask').animate({
				bottom:'0px',
			},550,"swing");
		});
		$('#flexslider li').mouseleave(function(event) {
			$('.sliderMask').stop();
			$('.sliderMask').animate({
				bottom:'-300px',
			},550,"swing");
		});
		//学院新闻
		// $('#academy-news div').mouseenter(function(event) {
			
		// });
		//友情链接遮罩
		$('.friendlink').mouseenter(function(event) {
			var objId = '#'+this.id;
			$(objId+' span').finish();
			$(objId+' span').animate({
				opacity:'1',
				height: $(objId+' img').css('height'),
			},550,'swing');
		});
		$('.friendlink').mouseleave(function(event) {
			var objId = '#'+this.id;
			$(objId+' span').finish();
			$(objId+' span').animate({
				opacity:'0',
				height: '0px',
			},550,'swing');
		});
		//名师展示
		$('#f-1').css('display', 'block');
		//上一页
		$('#famousleft').click(function(event) {
			prevPage(this);
		});
		//下一页
		$('#famousright').click(function(event) {
			nextPage(this);
		});
		//movePage();
	});
	function movePage(argument) {
		var time = setInterval(function (){
			nextPage($('#famousright'));
		},3000);
	}
	function nextPage(e)
	{
		var len = $('#famousmiddle').attr('data-len');
		var anchor = $(e).attr('data-anchor');
		var manchor = $('#famousmiddle').attr('data-anchor');
		$('#f-'+manchor).css('display', 'none');
		$('#f-'+anchor).css('display', 'block');
		manchor = anchor;
		if(anchor == len){
			anchor = 1;
		}else{
			anchor++;
		}
		$(e).attr('data-anchor', anchor);
		$('#famousmiddle').attr('data-anchor', manchor);
		if(manchor == len){
			$('#famousright').attr('data-anchor', 1);
		}else{
			$('#famousright').attr('data-anchor', ++manchor);
		}
	}
	function prevPage(e)
	{
		var len = $('#famousmiddle').attr('data-len');
		var anchor = $(e).attr('data-anchor');
		var manchor = $('#famousmiddle').attr('data-anchor');
		$('#f-'+manchor).css('display', 'none');
		$('#f-'+anchor).css('display', 'block');
		manchor = anchor;
		if(anchor == 1){
			anchor = len;
		}else{
			anchor--;
		}
		$(e).attr('data-anchor', anchor);
		$('#famousmiddle').attr('data-anchor', manchor);
		if(manchor == len){
			$('#famousright').attr('data-anchor', 1);
		}else{
			$('#famousright').attr('data-anchor', ++manchor);
		}
	}
	//高德地图
	var map = new AMap.Map('container',{
	    zoom: 18,
	    center: [113.359172,23.161539],
	    lang:'zh_en'
	});
	//设置点标记
	var marker = new AMap.Marker({
	    position: [113.359172,23.161539],//marker所在的位置
	    map:map//创建时直接赋予map属性
	});
	//也可以在创建完成后通过setMap方法执行地图对象
	marker.setMap(map);
</script>
