<!DOCTYPE html>
<html lang="en">
<head>
	<include file="./Application/Admin/View/Layouts/resouce.html" title="系统设置"/>
	<style type="text/css">
		body {
			margin: 0;
		}
		#clipArea {
			margin: 20px;
			height: 300px;
		}
		#file,#clipBtn {
			margin: 20px;
		}
		#view {
			margin: 0 auto;
			width: 200px;
			height: 200px;
		}
	</style>
</head>
<body>
	<div class="container-fluid">
		<include file="./Application/Admin/View/Layouts/header.html"/>
		<div class="row">
			<include file="./Application/Admin/View/Layouts/left_nav.html"/>
			<div class="col-xs-10 col-sm-10 col-md-9 col-lg-9">
				<div class="panel panel-default">
		   			<div class="panel-body">
						<div class="row">
							<ol class="breadcrumb">
							    <li><a href="__ROOT__/Admin/Index/index">首页</a></li>
							    <li>系统设置</li>
							</ol>
						</div>
						<div class="row">
							<form class="form-horizontal" id="setting_form" role="form" method="post" action="__URL__/update"> 
							<div class="form-group">
								<label for="telephone" class="col-sm-2 control-label">电话</label>
								<div class="col-sm-10">
								<input type="text" class="form-control" id="telephone" name="telephone" placeholder="请输入电话" value="{$data.telephone}">
								</div>
							</div>
							<div class="form-group">
								<label for="email" class="col-sm-2 control-label" name="author">邮箱地址</label>
								<div class="col-sm-10">
								<input type="text" class="form-control" id="email" name="email" placeholder="请输入邮箱地址" value="{$data.email}">
								</div>
							</div>
							<div class="form-group">
								<label for="address" class="col-sm-2 control-label">地址</label>
								<div class="col-sm-10">
								<input type="text" class="form-control" id="address" name="address" placeholder="请输入地址" value="{$data.address}">
								</div>
							</div>
							<div class="form-group">
								<label for="poweredby" class="col-sm-2 control-label">poweredby</label>
								<div class="col-sm-10">
								<input type="text" class="form-control" id="poweredby" name="poweredby" placeholder="请输入地址" value="{$data.poweredby}">
								</div>
							</div>
							<div class="form-group">
								<label for="cover" class="col-sm-2 control-label" >二维码</label>
								<div class="col-sm-10">
									<div class="row">
										<div id="clipArea"></div>
										<input id="codeimg" type="text" name="codeimg" style="display:none" >
										<input type="file" id="file">
										<button class="btn btn-primary" type="button" id="clipBtn">截图</button>
										<div id="view"  style="background: url({$data.codeimg});"></div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success">保存</button>
								</div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<include file="./Application/Admin/View/Layouts/footer.html"/>
	</div>
</body>
</html>
<script>
/*InitRadio($("input[name='status']"),"{$data.status}");*/
InitNav($('#left_nav li'), "{$category}");
$("#setting_form").validate({
	rules:{
		title:{
			required:true,
			maxlength:255
		},/*
		author:{
			required:true,
			maxlength:255
		},*/
		category:"required",
		status:"required",
		content:"required",
	},
	messages:{
		title:{
			required:"请填写标题",
			maxlength:255
		},/*
		author:{
			required:"请填写作者",
			maxlength:255
		},*/
		category:"请选着文章的类别",
		status:"请设置是否显示",
		content:"请填写文章内容",
	},
});

</script>
<script src='http://libs.baidu.com/jquery/2.1.1/jquery.min.js'></script>
<script src="/en/Public/jQuery-photoClip/js/iscroll-zoom.js"></script>
<script src="/en/Public/jQuery-photoClip/js/hammer.js"></script>
<script src="/en/Public/jQuery-photoClip/js/lrz.all.bundle.js"></script>
<script src="/en/Public/jQuery-photoClip/js/jquery.photoClip.js"></script>
<script>
//document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
var clipArea = new bjj.PhotoClip("#clipArea", {
	size: [150, 150],
	outputSize: [200, 200],
	file: "#file",
	view: "#view",
	ok: "#clipBtn",
	loadStart: function() {
		//console.log("照片读取中");
	},
	loadComplete: function() {
		//console.log("照片读取完成");
	},
	clipFinish: function(dataURL) {
		$('#codeimg').attr('value', dataURL);
	}
});
//clipArea.destroy();
</script>