<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2" id="left_nav">
	<ul class="nav nav-pills nav-stacked">
		<li id="l_index"><a href="__ROOT__/Admin/Index/index">首页</a></li>
		<li id="l_category"><a href="__ROOT__/Admin/Category/index">栏目管理</a></li>
		<li id="l_article"><a href="__ROOT__/Admin/Article/index">文章管理</a></li>
		<li id="l_photo"><a href="__ROOT__/Admin/Photo/index">图片管理</a></li>
		<li id="l_setting"><a href="__ROOT__/Admin/Setting/index">系统设置</a></li>
		<li id="l_homepage"><a href="__ROOT__/Admin/Homepage/index">首页设置</a></li>
	</ul>
</div>