/* 中型设备 */
#academy-news a{
	margin:0;
	width:48.5%;
	display:inline-block;
	float:left;
	margin-top:50px;
	margin-left:1%; 
	color:#0E9CEA;
	text-decoration:none;
}
#academy-news img{
	width:99%;
	height:auto;
	display: block;
	margin:0 auto; 
}
#academy-news h2{
	display: block;
	margin:10px auto; 
}
#academy-news p{
	width:100%;
	height:auto;  
    overflow: hidden;
    text-overflow:ellipsis;
	white-space: nowrap;
	font-size:1em; 
	font-family:'微软雅黑';
	margin:0 auto; 
}